.main-page-main-region {
    /* position: relative; */
    background-color: black;
  }
  
  .scroll-view {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
  }
  
  .container {
    position: relative;
    margin-top: -100vh;
    overflow-x: clip;
  }
  
  /* container 1 */

  .container-1 {
    height: var(--container-1-height);
    z-index: 5;
  }
  
  .view-region {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: var(--header-height);
    z-index: -5;
  }
  
  .main-page-gif-image {
    width: 100vw;
    z-index: -3;
  }
  
  #container-1-img {
    animation-name: img-blur-3s;
    animation-duration: 3s;
  }
  
  @keyframes img-blur-3s {
    0% {
      filter: blur(8px);
    }
    100% {
      filter: blur(0px);
    }
  }
  
  .container-1-feature {
    margin: 0;
    margin-right: 20vw;
    padding: 0;
    padding-bottom: calc(70vh + var(--feature-padding-bottom));
    text-align: right;
  }
  
  #container-1-feature-1 {
    font-size: 5rem;
    margin-top: -70vh;
  }
  
  #container-1-feature-2, #container-1-feature-3 {
    font-size: 3rem;
    position: sticky;
    top: 40vh;
    padding-bottom: var(--feature-paragraph-padding-bottom);
    opacity: 0;
  }

  /* container 2 */

  .container-2 {
    height: var(--container-2-height);
    z-index: 0;
    margin-top: -100vh;
    position: relative;
  }
  
  .container-2-region {
    position: sticky;
    width: 30vw;
    height: 20vh;
    display: flex;
    align-items: center;
  }
  
  .container-2-region .container-2-img-region {
    width: 300px;
  }
  
  .container-2-sugar {
    top: 20vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bitter {
    top: 35vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }
  
  .container-2-crush {
    top: 50vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bourbon {
    top: 65vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }

  .container-2-img-region {
    height: 100%;
    margin: auto;
    position: relative;
  }

  .container-2-img-blur-edge {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    box-shadow: inset 0 0px 7px 7px black;
  }

  .container-2-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  .container-2-feature {
    position: absolute;
    z-index: 1;
  }
  
  #container-2-feature-1 {
    right: 0;
    top: -500px;
  }

  #container-2-feature-2 {
    opacity: 0;
  }

  #container-2-feature-3 {
    right: 0;
    top: 500px;
    opacity: 0;
  }

  #container-2-feature-4 {
    left: 0;
    top: 500px;
    opacity: 0;
  }
  
  /* container 3 */

  .container-3 {
    height: var(--container-3-height);
    z-index: 0;
    margin-top: -100vh;
    position: relative;
  }

  .container-3-img {
    position: relative;
    width: 100vw;
    opacity: 1;
  }
  
  /* container 4 */

  .container-4 {
    height: var(--container-4-height);
    z-index: 0;
    margin-top: -130vh;
    position: relative;
  }

  .container-4-img {
    position: relative;
    width: 100vw;
    opacity: 1;
  }
  
  /* container 5 */

  .container-5 {
    height: var(--container-5-height);
    z-index: 0;
    margin-top: -170vh;
    padding-bottom: 130vh;
    position: relative;
  }

  .container-5-img {
    position: relative;
    width: 100vw;
    opacity: 1;
  }
  
  /* container 6 */

  .container-6 {
    height: var(--container-6-height);
    z-index: 0;
    margin-top: -170vh;
    position: relative;
  }

  .container-6-img {
    position: relative;
    width: 100vw;
    opacity: 1;
  }

  @media screen and (max-width: 1023px) {
    .scroll-view {
      position: static;
      top: 0;
      height: 0;
    }
    .container {
      margin-top: 0;
    }
    .container-1 {
      height: 100vh;
      width: auto;
      margin-top: calc(-1 * var(--header-height));
    }
    .view-region {
      position: relative;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    .main-page-gif-image {
      position: absolute;
      top: 0;
      left: calc(-1 * 15 / 100 * 177vh);
      height: 100vh;
      width: auto;/* 177vh */
    }
    .container-1-feature {
      margin: 0;
      padding: 0;
      text-align: center;
    }
    #container-1-feature-1 {
      font-size: 5rem;
      margin-top: -80vh;
      opacity: 1;
    }
    #container-1-feature-2, #container-1-feature-3 {
      position: relative;
      top: 70vh;
      padding-bottom: 0;
      opacity: 1;
    }
    
    .container-2 {
      height: 400vh;
      z-index: 0;
      margin-top: 60vh;
      position: relative;
    }
    .container-2-region {
      position: relative;
      width: 100%;
      height: 100vh;
      top: 0;
      margin: 0;
    }
    .container-2-img-region {
      height: 100%;
      width: auto;
      margin: 0;
      position: static;
      display: flex;
      flex-direction: column;
    }
    .container-2-img-blur-edge {
      width: 0;
      height: 0;
      opacity: 0;
    }
    .container-2-img {
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: -1;
    }
    #container-2-img-1 {
      left: calc(-1 * 30 / 100 * 177vh);
    }
    #container-2-img-2 {
      left: calc(-1 * 35 / 100 * 177vh);
    }
    #container-2-img-3 {
      left: calc(-1 * 15 / 100 * 177vh);
    }
    #container-2-img-4 {
      left: calc(-1 * 35 / 100 * 177vh);
    }
    #container-2-feature-1, #container-2-feature-2, #container-2-feature-3, #container-2-feature-4 {
      position: absolute;
      text-align: center;
      left: 0;
      top: 0;
      right: 0;
      font-size: 5rem;
      margin: 0;
      opacity: 1;
    }

    .container-3, .container-4, .container-5, .container-6 {
      height: 100vh;
      width: auto;
      margin-top: 0;
      padding: 0;
    }
    .container-3-img, .container-4-img, .container-5-img, .container-6-img {
      position: absolute;
      top: 0;
      left: calc(-1 * 30 / 100 * 177vh);
      height: 100vh;
      width: auto;
      opacity: 1;
    }
    .container-6-img {
      left: calc(-1 * 15 / 100 * 177vh);
    }
  }