.main-page-main-region {
    position: relative;
  }
  
  .scroll-view {
    position: sticky;
    top: 0;
    height: 100vh;
    border: 3px solid pink;
    z-index: 10;
  }
  
  .container {
    position: relative;
    margin-top: calc(-1 * var(--header-height));
    margin-top: -100vh;
    border: 3px white solid;
  }
  
  .container-1 {
    height: var(--container-1-height);
    z-index: 5;
  }
  
  .view-region {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: -5;
  }
  
  .main-page-gif-image {
    width: 100vw;
    z-index: -3;
  }
  
  #container-1-img {
    animation-name: img-blur-3s;
    animation-duration: 3s;
    
  }
  
  @keyframes img-blur-3s {
    0% {
      filter: blur(8px);
    }
    100% {
      filter: blur(0px);
    }
  }
  
  .container-1-feature {
    margin: 0;
    margin-right: 20vw;
    padding: 0;
    padding-bottom: calc(70vh + var(--feature-padding-bottom));
    text-align: right;
  }
  
  .container > h2 {
    font-size: 5rem;
    margin-top: -70vh;
  }
  
  .container > p {
    font-size: 3rem;
    position: sticky;
    top: 40vh;
    padding-bottom: var(--feature-paragraph-padding-bottom);
    opacity: 0;
  }
  
  .container-2 {
    height: var(--container-2-height);
    /* border: 3px solid pink; */
    z-index: -4;
    margin-top: -100vh;
    position: relative;
  }
  
  .container-2-region {
    position: sticky;
    width: 500px;
    display: flex;
    align-items: center;
    border: 3px yellow solid;
  }
  
  .container-2-region > img {
    width: 300px;
  }
  
  .container-2-sugar {
    top: 20vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bitter {
    top: 35vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }
  
  .container-2-crush {
    top: 50vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bourbon {
    top: 65vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }
  
  #container-2-img-1 {
  }