.main-page-main-region {
    /* position: relative; */
    background-color: black;
  }
  
  .scroll-view {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
  }
  
  .container {
    position: relative;
    margin-top: calc(-1 * var(--header-height));
    margin-top: -100vh;
    border: 3px white solid;
  }
  
  /* container 1 */

  .container-1 {
    height: var(--container-1-height);
    z-index: 5;
  }
  
  .view-region {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: -5;
  }
  
  .main-page-gif-image {
    width: 100vw;
    z-index: -3;
  }
  
  #container-1-img {
    animation-name: img-blur-3s;
    animation-duration: 3s;
  }
  
  @keyframes img-blur-3s {
    0% {
      filter: blur(8px);
    }
    100% {
      filter: blur(0px);
    }
  }
  
  .container-1-feature {
    margin: 0;
    margin-right: 20vw;
    padding: 0;
    padding-bottom: calc(70vh + var(--feature-padding-bottom));
    text-align: right;
  }
  
  #container-1-feature-1 {
    font-size: 5rem;
    margin-top: -70vh;
  }
  
  #container-1-feature-2, #container-1-feature-3 {
    font-size: 3rem;
    position: sticky;
    top: 40vh;
    padding-bottom: var(--feature-paragraph-padding-bottom);
    opacity: 0;
  }

  /* container 2 */

  .container-2 {
    height: var(--container-2-height);
    z-index: 0;
    margin-top: -100vh;
    position: relative;
  }
  
  .container-2-region {
    position: sticky;
    width: 30vw;
    height: 20vh;
    display: flex;
    align-items: center;
    /* border: 3px yellow solid; */
  }
  
  .container-2-region .container-2-img-region {
    width: 300px;
  }
  
  .container-2-sugar {
    top: 20vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bitter {
    top: 35vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }
  
  .container-2-crush {
    top: 50vh;
    margin-left: auto;
    margin-right: 50vw;
    justify-content:space-between;
  }
  
  .container-2-bourbon {
    top: 65vh;
    margin-left: 50vw;
    margin-right: auto;
    justify-content:space-between;
  }

  .container-2-img-region {
    height: 100%;
    margin: auto;
    position: relative;
    /* border: 3px pink solid; */
    /* box-shadow: inset 0 0px 4px 4px white; */
  }

  .container-2-img-blur-edge {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0px 4px 4px black;
  }


  .container-2-img {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
  }

  .container-2-feature {
    position: absolute;
    z-index: 1;
  }
  
  /* #container-2-img-1 {
    opacity: 1;
  } */

  #container-2-feature-1 {
    right: 0;
    top: -500px;
  }

  /* #container-2-img-2 {
    top: -500px;
    right: 0;
    opacity: 0;
  } */

  #container-2-feature-2 {
    opacity: 0;
  }

  /* #container-2-img-3 {
    opacity: 0.9;
  } */

  #container-2-feature-3 {
    right: 0;
    top: 500px;
    opacity: 0;
  }

  /* #container-2-img-4 {
    opacity: 0;
  } */

  #container-2-feature-4 {
    left: 0;
    top: 500px;
    opacity: 0;
  }