header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  
  .header-logo {
    width: 200px;
    border: 1px solid white;
  }
  
  .header-middle {
    display: flex;
    align-items: center;
  }
  
  .header-search-bar {
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-right: var(--search-bar-img-width);
  }

  /* .header-search-btn {
    margin-left: calc(-1 * var(--search-bar-img-width));
    width: var(--search-bar-img-width);
    height: var(--search-bar-img-width);
    padding: 0;
  } */
  
  .header-search-bar-img {
    margin-left: calc(-1 * var(--search-bar-img-width));
    width: var(--search-bar-img-width);
    opacity: 50%;
  }

  .header-search-bar-img:hover {
    cursor: pointer;
  }
  
  .header-random-cocktail {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .header-random-cocktail-img {
    width: 40px;
    transform: rotate(30deg);
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right > section {
    margin: 10px;
  }
  
  .header-right > section > a > img {
    width: 40px;
  }
  
  .header-account {
    color: white;
    
  }
  
  .header-account > p {
    margin: auto;
    font-size: 1rem;
  }