:root {
  --search-bar-img-width: 30px;
  /* --container-1-height: 2600px; */
  --container-1-height: 350vh;
  /* --container-2-height: 2600px; */
  --container-2-height: 350vh;
  --feature-padding-bottom: -20vh;
  --feature-paragraph-padding-bottom: 70vh;
}

body {
  background-color: black;
  color: white;
  margin: 0px;
}

/* --- Header --- */
header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: sticky;
  top: 0;
  background-color:rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.header-logo {
  width: 200px;
  border: 1px solid white;
}

.header-middle {
  display: flex;
  align-items: center;
}

.header-search-bar {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-right: var(--search-bar-img-width);
}

.header-search-bar-img {
  width: var(--search-bar-img-width);
  margin-left: calc(-1 * var(--search-bar-img-width));
  opacity: 50%;
}

.header-random-cocktail {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-random-cocktail-img {
  width: 40px;
  transform: rotate(30deg);
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right > section {
  margin: 10px;
}

.header-right > section > a > img {
  width: 40px;
}

.header-account {
  color: white;
  
}

.header-account > p {
  margin: auto;
  font-size: 1rem;
}

/* --- MainPage --- */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 3px white solid;
}

.container-1 {
  height: var(--container-1-height);
  margin-top: -20vh;
}

.main-page-gif-image {
  width: 100vw;
  z-index: -3;
  position: sticky;
  top: 0;
}

#container-1-img {
  animation-name: img-blur-3s;
  animation-duration: 3s;
  /* transform: scale(1.2,1.2); */
  /* -webkit-filter: blur(8px); */
}

@keyframes img-blur-3s {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0px);
  }
}

.container-1-feature {
  margin: 0;
  margin-right: 20vw;
  padding: 0;
  padding-bottom: calc(70vh + var(--feature-padding-bottom));
  text-align: right;
  /* border: 1px solid pink; */
}

.container > h2 {
  font-size: 5rem;
  margin-top: -70vh;
}

.container > p {
  font-size: 3rem;
  position: sticky;
  top: 40vh;
  padding-bottom: var(--feature-paragraph-padding-bottom);
  opacity: 0;
}

.container-2 {
  margin-top: -100vh;
  /* margin-top: -800px; */
  height: var(--container-1-height);
  border: 3px solid pink;
}

#container-2-img-1 {
  /* margin-top: -100vh; */
  z-index: -4;
  position: sticky;
  top: 0;
}